#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer, qbcore, qb-core"

## You MAY edit the following:
sv_licenseKey "cfxk_1eCVMNTWUpE8Ik8ze4Dzq_23lwvg"
sv_hostname "DevServer built with QBCore Framework by JericoFx & Kakarot & Hamy!"
sets sv_projectName "[QBCore Framework] DevServer"
sets sv_projectDesc "An advanced FiveM RP framework including jobs, gangs, housing & more!"
sets locale "root-AQ" # replace with your language and location code, like en-US, pt-BR, etc
load_server_icon myLogo.png
sv_enforceGameBuild 3095 #DLC The Chop Shop
set resources_useSystemChat true
set mysql_connection_string "mysql://root@localhost/QBCore_0E68BF?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget false

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure qb-core
ensure [qb]
ensure [standalone]
ensure [ui]
ensure [voice]
ensure [defaultmaps]

# ==============================
# QBCore Core Resources
# ==============================
ensure qb-core
ensure qb-spawn
ensure qb-houses
ensure qb-apartments
ensure qb-vehicleshop
ensure qb-garages
ensure qb-inventory
ensure qb-phone
ensure qb-hud
ensure qb-policejob
ensure qb-ambulancejob

# ==============================
# Standalone / Extras
# ==============================
ensure qb-emotes
ensure qb-target
ensure pma-voice

# ==============================
# Maps / Default Resources
# ==============================
ensure mapmanager
ensure defaultmaps
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents


## Permissions ##
add_ace group.admin command allow # allow all commands
{{addPrincipalsMaster}} # This is the way txAdmin assigns permissions to the server owner

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands

# Players
add_principal identifier.license:23127f2bee813eabc220701fb790666c021b625c qbcore.god # Player Name
add_principal identifier.license:23127f2bee813eabc220701fb790666c021b625c qbcore.admin # Player Name
add_principal identifier.license:23127f2bee813eabc220701fb790666c021b625c qbcore.mod # Player Name

add_principal identifier.license:4b8cbb68e553248a501603e2577b248e3015b68f qbcore.god # Player Name
add_principal identifier.license:4b8cbb68e553248a501603e2577b248e3015b68f qbcore.admin # Player Name
add_principal identifier.license:4b8cbb68e553248a501603e2577b248e3015b68f qbcore.mod # Player Name

add_principal identifier.license:534841ed55779cfe620845cebca2a8e8a267ace7 qbcore.god # Player Name
add_principal identifier.license:534841ed55779cfe620845cebca2a8e8a267ace7 qbcore.admin # Player Name
add_principal identifier.license:534841ed55779cfe620845cebca2a8e8a267ace7 qbcore.mod # Player Name

